* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 1440px;
  height: 200px;
  background-color: #d9d9d9;
}
.main-logo {
  height: 100px;
  width: 178px;
}
.inside-header {
  padding: 50px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  list-style: none;
  display: flex;
  gap: 38px;
}
.nav {
  text-decoration: none;
}
.container {
}
